{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
      {% if user.is_authenticated %}
        <p class="navbar-text navbar-right"> <a href="/logout/" class="navbar-link">Sigin out</a></p>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"> {{ request.user.username }} </a></p>
      {% else %}
       <p class="navbar-text navbar-right"> <a href="/login/" class="navbar-link">Sigin in</a></p>
      {% endif %}
  </div>
</nav>

{% block content %}
{% endblock %}


</body>
</html>