.event_point_small{
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;/* 50%でもOK */
	-moz-border-radius: 50%;
	border-radius: 40%;
	background-color: #999;/* 円の色 */
}
.date_text{
	margin: 0 0 1px 25%;
}

.event_text_1 {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 10px;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.event_text_2 {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.event_text_3 {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}


input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:after {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:after { content: "\f005"; } /* unchecked icon */
input[type=checkbox] + label:after { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:after { content: "\f006"; } /* checked icon */
input[type=checkbox]:checked + label:after { letter-spacing: 10px; } /* allow space for check mark */